<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>{% block title %} WatchAnime {% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="http://vjs.zencdn.net/5.15.1/video-js.css">

</head>

<body>
    <div class="panel1">
        <ul>
            <li><a href="{{ url_for('main')}}">WatchAnime.ua</a></li>
            <li><a href="{{url_for('top100')}}">Топ 100 Аніме</a></li>
            <li><a href="#">Каталог</a></li>
        </ul>
        <form action="" method="post">
            {{ search.csrf_token }}
            <div>
                <div style = "display:flex; align-items: center; padding-right: 150px;">
                    {{ search.text() }}
                    <div onclick="showFilter()" style = "margin-left: 20px;">Фільтри</div>
                </div>
                <div class = "filters hidden" id = "filters">
                    <h3 style = "display: flex;">Жанри {{search.ganreuse()}}</h3>
                    {{search.ganre()}}
                    <h3 style = "display: flex;">Тип {{search.typeuse()}}</h3>
                    {{search.type()}}
                    <h3 style = "display: flex;">Тип озвучки</h3>
                    <select class="Selector">
                        <option value="value1">Anilibria</option>
                        <option value="value2" selected>Ancord</option>
                        <option value="value3">Studio Band</option>
                    </select>
                    <h3 style = "display: flex;">Статус {{search.statususe()}}</h3>
                    {{search.status()}}
                    <h3 style = "display: flex;">Вікове обмеження {{search.agerateuse()}}</h1>
                    {{search.agerate()}}
                </div>
                <script>

                    function showFilter() {

                        var filters = document.getElementById("filters");
                        filters.classList.toggle('hidden');

                    }

                </script>
            </div>
        </form>
        {% if not current_user.is_authenticated %}
        <ul>
            <li><a href="{{ url_for('reg')}}">Зареєструватися</a></li>
            <li><a href="{{ url_for('log')}}">Увійти</a></li>
        </ul>
        {% else %}
        <ul>
            <li><a href="{{url_for('userPage',id = current_user.id)}}">{{ current_user.username }}</a></li>
            <li><a href="{{url_for('logout')}}">Вийти</a></li>
        </ul>
        {% endif %}
    </div>
    {% block container %}
    <div class="MainContainer">
        {% block content %}
        {% endblock %}
        <div class="Fuuter">
            <p>Сайт WatchAnime – є Дипломною роботою студента групи КП-191 Хорошева Михайла.
            </p>
            <p>Додатковою метою є поширення культури японської анімації.</p>
            <p id="Original">
                ©WatchAnime 2022-2023і
            </p>
        </div>
    </div>
    {% endblock %}

</body>