
    {% extends "Base.html" %} 
    {% block content %}
        <div class="containerFlex" id="MainPageAbout">
            <div id="MainPageOngoing">
                <div class="Title">Онгоінги</div>
                {% for x in Ongoing  %}
                <div class="MainPageAnime">
                    <img src="{{x.image}}">
                    <ul id="AnimeList">
                        <li><a href="{{ url_for('detail_anime', id=x.id) }}">{{x.name}}</a></li>
                        <li>{{x.getType.name}}, {{x.date}}</li>
                        <li>Серій: {{x.seriesCount}}</li>
                        <li>Оцінка: {{x.getAvg}}/10</li>
                    </ul>
                </div>
                {% endfor %}
                <div class="More">
                    <a href="{{url_for('moreOngoing')}}">Більше</a>
                </div>
            </div>
            <div id="MainPageAnimeAll">
                <div class="Title">Завершені Аниме</div>
                {% for x in Anime  %}
                <div class="MainPageAnime">
                    <img src="{{x.image}}"
                        id="AllAnimeImage">
                    <ul id="AnimeList">
                        <li><a href="{{ url_for('detail_anime', id=x.id) }}">{{x.name}}</a></li>
                        <li class="AltName">{{x.altName}}</li>
                        <li><span><a href="#">{{x.getType.name}}</a></span> / <span><a href="#">{{x.date}}</a></span> / 
                            {% for Genre in x.getGenre  %}
                            <span><a href="#">{{Genre.name}}</a></span>
                            {% endfor %}
                        </li>
                            <li>Серій: {{x.seriesCount}}</li>
                            <li>Оцінка: {{x.getAvg}}/10</li>
                            <li>Рейтинг: {{x.getAgeRate}}</li>
                        <li>
                            <p class="description">{{x.description}}</p>
                        </li>
                    </ul>
                </div>
                {% endfor %}
                <div class="Page">
                    <div><a href="#">1</a></div>
                    <div><a href="#">2</a></div>
                    <div><a href="#">3</a></div>
                    <div><a href="#">4</a></div>
                    <div><a href="#">5</a></div>
                    <div><a href="#">6</a></div>
                    <div><a href="#">7</a></div>
                    <div><a href="#">8</a></div>
                    <div><a href="#">9</a></div>
                    <div><a href="#">...</a></div>
                    <div><a href="#">15</a></div>
                </div>
            </div>
            <div id="Advestising">
                <p style = "margin: auto;">ТУТ МОГЛА БУТИ<br>ВАША РЕКЛАМА</p>
            </div>
        </div>
{% endblock %}